<%= @restaurant.name %>
<% @restaurant.reviews.each do |review| %>
<p><%= review.content %></p>
<p><%= "*" * review.rating  %></p>
<% end %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
